* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #000;
    background-color: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Sizes */
    --xs: 0px;
    --sp: 375px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1440px;

    /* Colors */
    --white: #fff;
    --black: #000;
    --primary: rgba(0, 51, 160, 1);
    --primary-dark: rgb(1, 40, 126);
    --primary-light: rgba(0, 51, 160, 0.1);
    --success: rgba(0, 130, 48, 1);
    --warning: #ffc107;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

/* Bootstrap Like */
.container {
    padding: 2rem 1.25rem;

    @media (min-width: 576px) {
        padding: 2rem 4rem;
        max-width: 1440px;
        margin: 0 auto;
    }
}

.mobile-only {
    display: block;

    @media (min-width: 992px) {
        display: none;
    }
}

.desktop-only {
    display: none;

    @media (min-width: 992px) {
        display: block;
    }
}
